.container {
    min-height: 100vh;
}

.tableHeader {

}

.tableHeaderRows, .tableContentRows {
    display: flex;
    flex-shrink: 0;
    flex: 1;
}

.tableHeaderCell {
    text-transform: capitalize;
    background: #f9f9f9;
    padding: 8px;
    font-weight: 700;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    min-width: var(--defaultCellWidth);
}

.tableContentCell {
    padding: 8px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #ddd;
}

.tableContentCellValue {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: inherit;
}

.tableContentRows:hover {
    background-color: #eee;
}
.tableHeaderCell, .tableContentCell {
    width: 100%;
}