/* Variables. */
:root {
  --defaultCellWidth: 120px;
  --minCellWidth: 120px;
  --defaulFontFamily: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--defaulFontFamily)
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}