.sheet {
    margin-bottom: 20px;
}

.formActions button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.formActions button:not(:first-child) {
    margin-left: 10px;
}

.submitAction {
    background-color: #03a9f4;
    border: none;
    color: white;
    font-weight: bold;
}